<!-- Django Template Language (DTL) is Django's own templating engine -->
<!-- Confirm Delete Templates are required for DeleteView CBVs -->

{% extends 'base.html' %}

{% block content %}
    <h1>Delete Enclosure</h1>

    <h4>Are you sure you want to delete? <span class="teal-text text-darken-4">{{ object.name }}</span>?</h4>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes, Delete" class="btn teal darken-4">
        <a href="{% url 'detail' enclosure.id %}"><button class="btn teal darken-4">Cancel</button></a>
    </form>
{% endblock %}