<!-- Django Template Language (DTL) is Django's own templating engine -->

{% extends 'base.html' %}
{% block content %}

<h1>Logs</h1>
<hr />
    <div class="row">
        <a href="">
            <div class="card">
                <div class="card-content teal-text text-darken-4">
                    <span class="card-title">Add Log</span>
                </div>
            </div>
        </a>
        <a href="">
            <div class="card">
                <div class="card-content teal-text text-darken-4">
                    <span class="card-title">View Logs</span>
                </div>
            </div>
        </a>
    </div>

{% endblock %}