<!-- Django Template Language (DTL) is Django's own templating engine -->

{% extends 'base.html' %}
{% block content %}

<h4>Choose Enclosure</h4>
<hr />
{% for enclosure in enclosures %}
    {% if enclosure %}
        <a href="{% url 'log_forms' enclosure.id %}">
            <div class="card">
                <div class="card-content teal-text text-darken-4">
                    <b>{{ enclosure.name|capfirst }}</b> - {{ enclosure.description }}
                </div>
            </div>
        </a>
    {% else %}
        <p>You have no enclosures yet</p>
        <a href="{% url 'enclosure_create' %}"><button class="btn teal darken-4">Add Enclosure</button></a>
    {% endif %}
{% endfor %}

{% endblock %}