<!-- Django Template Language (DTL) is Django's own templating engine -->

{% extends 'base.html' %}
{% block content %}

<h4>Parameter Logs for {{ enclosure.name|capfirst }}</h4>

{% for parameter in parameters %}
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">{{ parameter.parameter|capfirst }}</div>
            <div class="collapsible-body">
                <table class="striped responsive-table">
                    <thead>
                        <tr>
                            <th>Value</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>&nbsp</th>
                        </tr>
                        {% for log in logs %}
                            {% if log.parameter_id == parameter.id%}
                                <tr>
                                    <td>{{ log.value }} {{ parameter.units }}</td>
                                    <td>{{ log.date }}</td>
                                    <td>{{ log.time }}</td>
                                    <td>
                                        <a href="{% url 'delete_parameter_log' log.id%}">
                                            <button class="btn amber accent-4 black-text">Delete</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </thead>
                </table>
            </div>
        </li>
    </ul>
{% endfor %}

<!-- Activate accordion materialize element -->
<script>
    const elems = document.querySelectorAll('.collapsible');
    M.Collapsible.init(elems);
</script>

{% endblock %}