<!-- Django Template Language (DTL) is Django's own templating engine -->

{% extends 'base.html' %}
{% block content %}

<h1>About Zooalog</h1>
<hr />
<br>
<br>

    <div class="row">

        <div class="col s12 m6">
            <h4>What is Zooalog?</h4>
            <p>Zooalog is a web app that allows hobbyists with aquariums or terrestrial enclosures to keep track of their animal husbandry practices.</p>
            <p>Users can keep track of animals in their enclosures, and create logs of diet and important habitat parameters.</p>
            <h4>Why Zooalog?</h4>
            <p>The creator of Zooalog, Emily Aikens, worked as a biologist for ten years before transitioning to a software engineering career. 
                The majority of her time as a biologist was spent working closely with animal care departments at aquariums; collecting data, 
                collecting and caring for specimens, and creating biologically appropriate enclosures. Emily has also spent time working with 
                veterinary care facilities, and with animal care departments that specialize in non-marine organisms. </p>
            <p>Emily quickly realized that to maximize the efficiency of animal care and to ensure best husbandry practices, keeping thorough 
                and concise logs was critical. There are certain well-known animal husbandry tracking apps on the market, but the ones that hold 
                the market are either too expensive for smaller organizations, and the usability is sub-standard. In creating Zooalog, Emily hoped 
                to build a product that combined years of animal care experience with a modern and approachable user experience that was financially 
                feasible for small-scale operations. </p>
            <p>Zooalog is still small. It is currently more equipped for the hobbyist than an animal care department, but this journey is just beginning. </p>
        </div>

        <div class="col s12 m6" style="padding-right: 20px;">
            <img class="responsive-img" src="../static/images/octo.jpeg">
        </div>
    <!-- end row -->
    </div>

{% endblock %}