body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.bottom-space {
    margin: 20px;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

/* datepicker colors */

.datepicker-date-display{
    background-color: #004d40;
}

.datepicker-close {
    color: #004d40;
}

.is-selected {
    background-color: #004d40;
}

.is-today {
    background-color: #004d40;
}

.datepicker-done, .datepicker-cancel {
    color: #004d40;
}
