body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.home-nav {
    letter-spacing: 2px;
}

.home-nav:hover {
    text-decoration: underline;
}

.home-body {
    background-color: black;
    height: 100dvh;
}

.jumbo {
    background-image: url('../images/plant.png');
    width: 100vw;
    height: 60vh;
    text-align: center;
    margin-top: 0px;
}

.zooalog-title {
    padding-bottom: 2vh;
    font-size: 10vw;
    color: white;
    letter-spacing: 2vw;
}

.zooalog-subtitle {
    font-size: 2vw;
    color: white;
    letter-spacing: 0.5vw;
}

.home-cards {
    margin-top: 20px;
}

.home-description {
    color: white;
    text-align: center;
    letter-spacing: 0.5vw;
    padding-top: 20px;
    padding-bottom: 20px;

}

.bottom-space {
    margin: 20px;
}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

/* datepicker colors */

.datepicker-date-display{
    background-color: #004d40;
}

.datepicker-close {
    color: #004d40;
}

.is-selected {
    background-color: #004d40;
}

.is-today {
    background-color: #004d40;
}

.datepicker-done, .datepicker-cancel {
    color: #004d40;
}

.sci-name {
    font-style: italic;
}

@media only screen and (max-width: 601px) {
    .home-nav {
        font-size: 100%;
    }
}