<!-- Django Template Language (DTL) is Django's own templating engine -->

{% extends 'base.html' %}
{% block content %}

<h1>Enclosure Details</h1>

<!-- Enclosure details -->
<div class="card">
    <div class="card-content">
        <span class="card-title title">{{ enclosure.name }}</span>
        <p>Type: {{ enclosure.get_type_display }}</p>
        <p>Description: {{ enclosure.description|linebreaks }}</p>
        <div class="card-action">
            <a href="{% url 'enclosure_update' enclosure.id %}">Edit</a>
            <a href="{% url 'enclosure_delete' enclosure.id %}">Delete</a>
        </div>
    </div>
</div>

<!-- Animal details for this Enclosure -->
<ul class="collapsible">
    <li>
        <div class="collapsible-header">Click here to see animals in this enclosure</div>
        <div class="collapsible-body">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Given Name</th>
                        <th>Common Name</th>
                        <th>Scientific Name</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in enclosure.animal_set.all %}
                    <tr>
                        <td>{{animal.given_name}}</td>
                        <td>{{animal.common_name}}</td>
                        <td>{{animal.scientific_name}}</td>
                        <td>{{animal.quantity}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </li>
</ul>

<!-- Add animal -->
<a href="{% url 'add_animal' enclosure.id %}"><button class="btn teal darken-4">Add Animal</button></a>

<!-- Parameter details for this Enclosure -->
<ul class="collapsible">
    <li>
        <div class="collapsible-header">Click here to see parameters assigned to this enclosure</div>
        <div class="collapsible-body">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Units</th>
                        <th>Ideal range</th>
                        <th>Frequency</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for param in enclosure.parameter_set.all %}
                    <tr>
                        <td>{{ param.parameter }}</td>
                        <td>{{ param.units }}</td>
                        <td>{{ param.ideal_range }}</td>
                        <td>{{ param.frequency }}</td>
                        <td>{{ param.notes }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </li>
</ul>

<!-- Add parameter -->
<a href="{% url 'add_parameter' enclosure.id %}"><button class="btn teal darken-4">Add Parameter</button></a>

<br/>

<!-- Activate accordion materialize element -->
<script>
    const elems = document.querySelectorAll('.collapsible');
    M.Collapsible.init(elems);
</script>

{% endblock %}