<!-- Django Template Language (DTL) is Django's own templating engine -->

{% extends 'base.html' %}
{% block content %}

<h1>Enclosure Details</h1>

<!-- Enclosure details -->
<div class="card">
    <div class="card-content">
        <span class="card-title title">{{ enclosure.name|capfirst }}</span>
        <p>Type: {{ enclosure.get_type_display }}</p>
        <p>Description: {{ enclosure.description|linebreaks }}</p>
        <div class="card-action">
            <a href="{% url 'enclosure_update' enclosure.id %}">
                <button class="btn brown darken-2">Edit</button>
            </a>
            <a href="{% url 'enclosure_delete' enclosure.id %}">
                <button class="btn amber accent-4 black-text">Delete</button>
            </a>
        </div>
    </div>
</div>

<h4>Animals</h4>

<!-- Animal details for this Enclosure -->
<ul class="collapsible">
    <li>
        <div class="collapsible-header">Click here to see animals in this enclosure</div>
        <div class="collapsible-body">
            <table class="striped responsive-table">
                <thead>
                    <tr>
                        <th>Given Name</th>
                        <th>Common Name</th>
                        <th>Scientific Name</th>
                        <th>Quantity</th>
                        <th>&nbsp</th>
                        <th>&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in enclosure.animal_set.all %}
                    <tr>
                        <td>{{animal.given_name|capfirst}}</td>
                        <td>{{animal.common_name|capfirst}}</td>
                        <td><span class="sci-name">{{animal.scientific_name}}</span></td>
                        <td>{{animal.quantity}}</td>
                        <td>
                            <a href="{% url 'update_animal' animal.id %}">
                                <button class="btn brown darken-2">Edit</button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'delete_animal' animal.id %}">
                                <button class="btn amber accent-4 black-text">Delete</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </li>
</ul>

<!-- Add animal -->
<a href="{% url 'add_animal' enclosure.id %}"><button class="btn teal darken-4">Add Animal</button></a>

<h4>Parameters</h4>

<!-- Parameter details for this Enclosure -->
<ul class="collapsible">
    <li>
        <div class="collapsible-header">Click here to see parameters assigned to this enclosure</div>
        <div class="collapsible-body">
            <table class="striped responsive-table">
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Units</th>
                        <th>Ideal range</th>
                        <th>Frequency</th>
                        <th>Notes</th>
                        <th>&nbsp</th>
                        <th>&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for param in enclosure.parameter_set.all %}
                    <tr>
                        <td>{{ param.parameter }}</td>
                        <td>{{ param.units }}</td>
                        <td>{{ param.ideal_range }}</td>
                        <td>{{ param.frequency }}</td>
                        <td>{{ param.notes }}</td>
                        <td>
                            <a href="{% url 'update_parameter' param.id %}">
                                <button class="btn brown darken-2">Edit</button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'delete_parameter' param.id %}">
                                <button class="btn amber accent-4 black-text">Delete</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </li>
</ul>

<!-- Add/log/view parameter -->
<a href="{% url 'create_parameter' enclosure.id %}" style="margin-right: 15px"><button class="btn teal darken-4">Add Parameter</button></a>
<a href="{% url 'log_parameter' enclosure.id %}" style="margin-right: 15px"><button class="btn teal darken-4">Log Parameters</button></a>
<a href="{% url 'parameter_logs' enclosure.id %}" style="margin-right: 15px"><button class="btn teal darken-4">View Parameter Logs</button></a>

<h4>Diets</h4>

<!-- Diet details for this Enclosure -->
<ul class="collapsible">
    <li>
        <div class="collapsible-header">Click here to see diets assigned to this enclosure</div>
        <div class="collapsible-body">
            <table class="striped responsive-table">
                <thead>
                    <tr>
                        <th>Diet Type</th>
                        <th>Quantity</th>
                        <th>Frequency</th>
                        <th>Notes</th>
                        <th>&nbsp</th>
                        <th>&nbsp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for diet in enclosure.diet_set.all %}
                    <tr>
                        <td>{{ diet.diet_type }}</td>
                        <td>{{ diet.quantity }}</td>
                        <td>{{ diet.frequency }}</td>
                        <td>{{ diet.notes }}</td>
                        <td>
                            <a href="{% url 'update_diet' diet.id %}">
                                <button class="btn brown darken-2">Edit</button>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'delete_diet' diet.id %}">
                                <button class="btn amber accent-4 black-text">Delete</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </li>
</ul>

<!-- Add/log/view parameter -->
<a href="{% url 'create_diet' enclosure.id %}" style="margin-right: 15px"><button class="btn teal darken-4">Add Diet</button></a>
<a href="" style="margin-right: 15px"><button class="btn teal darken-4">Log Diets</button></a>
<a href="" style="margin-right: 15px"><button class="btn teal darken-4">View Diet Logs</button></a>

<div class="bottom-space">&nbsp</div>

<!-- Activate accordion materialize element -->
<script>
    const elems = document.querySelectorAll('.collapsible');
    M.Collapsible.init(elems);
</script>

{% endblock %}