<!-- Django Template Language (DTL) is Django's own templating engine -->

{% extends 'base.html' %}
{% block content %}

<h1>My Enclosures</h1>
<hr />

{% if enclosures %}
    <br>
    <a href="{% url 'enclosure_create' %}"><button class="btn teal darken-4">Add Enclosure</button></a>
    <div>&nbsp</div>
    {% for enclosure in enclosures %}
        <a href="{% url 'detail' enclosure.id%}">
            <div class="card brown lighten-5">
                <div class="card-content teal-text text-darken-4">
                    <span class="card-title">{{ enclosure.name }}</span>
                    <p><b>Description: </b><span class="black-text">{{ enclosure.description }}</span></p>
                    <p><b>Type:</b> <span class="black-text">{{ enclosure.get_type_display }}</span></p>
                </div>
            </div>
        </a>
    {% endfor %}
{% else %}
    <p>You have no enclosures yet! Get started by clicking the "Add Enclosure" button.</p>
    <br>
    <a href="{% url 'enclosure_create' %}"><button class="btn teal darken-4">Add Enclosure</button></a>
    <div>&nbsp</div>
{% endif %}


{% endblock %}